[submodule "TSVC_2"]
	path = TSVC_2
	url = https://github.com/tenstorrent/TSVC_2.git
[submodule "STREAM"]
	path = STREAM
	url = https://github.com/jeffhammond/STREAM.git
[submodule "dhrystone"]
	path = dhrystone
	url = https://github.com/sunshaoce/dhrystone.git
[submodule "coremark"]
	path = coremark
	url = https://github.com/sunshaoce/coremark.git
[submodule "linpackc"]
	path = linpackc
	url = https://github.com/sunshaoce/linpackc.git
[submodule "whetstone"]
	path = whetstone
	url = https://github.com/sunshaoce/whetstone.git
